<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta
name="viewport"
content="width=device-width, initial-scale=1.0">

<title>

Reports

</title>

<link
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
rel="stylesheet">

<link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
rel="stylesheet">

<link
rel="stylesheet"
href="{{ url_for('static',filename='style.css') }}">

</head>

<body>

<!-- Sidebar -->

<div class="sidebar">

<div class="logo">

<i class="fa-solid fa-microscope"></i>

Skin AI

</div>


<ul>

<a href="/">
<li>

<i class="fa-solid fa-house"></i>

Dashboard

</li>
</a>


<a href="/history_page">
<li>

<i class="fa-solid fa-clock-rotate-left"></i>

History

</li>
</a>


<a href="/analytics">
<li>

<i class="fa-solid fa-chart-pie"></i>

Analytics

</li>
</a>


<a href="/reports">
<li class="active">

<i class="fa-solid fa-file-lines"></i>

Reports

</li>
</a>

</ul>

</div>


<div class="main-content">

<h1>

<i class="fa-solid fa-file-lines"></i>

Reports

</h1>

<br>


<div class="glass-card">

<h3>

Generate Report

</h3>

<hr>

<p>

This report contains:

</p>

<ul>

<li>

Captured Image

</li>

<li>

Prediction

</li>

<li>

Confidence

</li>

<li>

Date and Time

</li>

<li>

Model Information

</li>

<li>

Dataset Information

</li>

</ul>


<button

class="btn btn-success btn-lg"

onclick="downloadReport()">

<i class="fa-solid fa-download"></i>

Download Report

</button>

</div>



<br>


<div class="glass-card">

<h3>

Model Information

</h3>

<hr>

<p>

Model :

<span class="text-success">

ResNet50

</span>

</p>


<p>

Dataset :

HAM10000

</p>


<p>

Framework :

TensorFlow

</p>


<p>

Input Size :

224 × 224

</p>


<p>

Classes :

Benign, Malignant

</p>


<p>

Deployment :

Flask + OpenCV

</p>

</div>

</div>



<script>

function downloadReport(){

fetch("/download_report")

.then(response=>response.blob())

.then(blob=>{

const url=
window.URL.createObjectURL(
blob
);

const a=
document.createElement(
"a"
);

a.href=url;

a.download=
"skin_cancer_report.txt";

a.click();

});

}

</script>

</body>

</html>